*{
    overflow-x: hidden;
    scrollbar-width: none;
}


.navbar{
    position: fixed !important;
    width: 100% !important;
    background: white !important;
}


#home{
    background: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .7)), url(./img/portfolio-6.jpg);
    height: 100vh;
    /* position: static; */
    justify-content: center;
    justify-items: center;
    /* position: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
}

.hero{
    padding-top: 200px;
}

.About{
    padding-top: 0 !important;
}